.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.header .nav-link {
  margin-left: 1em;
}

.header > .nav-link:first-child {
  margin: 0;
  margin-left: -.4em;
}

.nav-link-group {
  display: flex;
}

@media (max-width: 60rem) {
  .header {
    padding: 2rem 2rem;
  }
}

@media (max-width: 40rem) {
  .nav-link-group {
    align-items: flex-start;
    flex-direction: column;
  }
}
