.header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 2rem 3rem;
}

.header .nav-link {
  margin-left: 1em;
}

.header .nav-link:first-child {
  margin: 0;
  margin-left: -.2em;
}

.title {
  color: inherit;
  text-decoration: none;
}

.title:hover {
  color: #41C1C1;
}

.title__content {
  display: inline-block;
  font-size: 3em;
  margin: 0;
}
