.container--landing {
  padding-bottom: 0;
  padding-top: 0;
}

.landing {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.landing__title {
  font-family: 'Acme', sans-serif;
  font-size: 3em;
  user-select: none;
}

.landing-nav {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 60rem) {
  .landing {
    margin: 0 auto;
    max-width: 35rem;
  }

  .landing-nav {
    flex-direction: column;
    justify-content: initial;
  }

  .landing-nav__item {
    margin-bottom: 1em;
  }
}
