* {
  box-sizing: border-box;
}

html {
  background-color: #222;
  color: #DDD;
  font-family: 'Do Hyeon', sans-serif;
  font-size: 20px;
  line-height: 1.6;
}

a {
  color: inherit;
  display: inline-block;
  position: relative;
  text-decoration: none;
  transition: .2s;
  z-index: 1;
}

a::after {
  background-color: #41C1C1;
  bottom: .15em;
  content: '';
  height: .15em;
  left: 0;
  position: absolute;
  transition: .2s;
  width: 100%;
  z-index: -1;
}

a:hover {
  color: #F8F8F8;
}

a:hover::after {
  height: calc(100% - .3em);
  padding: .1em .2em;
  transform: skew(-4deg) translateX(-.2em);
}

a > * {
  margin: 0;
}

blockquote {
  position: relative;
}

blockquote::before {
  background-color: #41C1C1;
  content: '';
  height: 100%;
  left: -1em;
  position: absolute;
  width: .2em;
}

:not(pre) > code[class*="language-"] {
  background: transparent;
  border: 1px dotted #EFEFEF;
  border-radius: 2px;
  color: inherit;
  font-family: inherit;
  padding: 0 .2em;
}

li > * {
  margin: 0;
}

pre[class*="language-"] {
  background-color: #282828;
  border-radius: 4px;
  font-size: .9rem;
}

.card {
  background-color: #282828;
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.card:last-child {
  margin-bottom: 0;
}

.card > :last-child {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  max-width: 55rem;
  padding: 2rem 3rem;
}

.container--article {
  max-width: 50rem;
}

.nav-link {
  color: inherit;
  display: inline-block;
  font-family: 'Acme', sans-serif;
  line-height: 1;
  position: relative;
  text-decoration: none;
  transform-origin: left;
}

.nav-link::after {
  background-color: #41C1C1;
  bottom: 0;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  transition: .2s;
  width: 0;
  z-index: -1;
}

.nav-link--cherryred::after {
  background-color: #FF5656;
}

.nav-link--orange::after {
  background-color: #FFA356;
}

.nav-link--yellow::after {
  background-color: #FFC756;
}

.nav-link:hover::after {
  height: 100%;
  padding: 0;
  transform: skew(-4deg);
  width: 100%;
}

.nav-link__content {
  padding: .1em .2em;
}

.nav-link__content--large {
  font-size: 5em;
}
