@font-face {
  font-family: 'Do Hyeon';
  font-style: normal;
  font-weight: normal;
  src: url(do-hyeon-regular.eot);
  src: url(do-hyeon-regular.eot?#iefix) format('embedded-opentype'),
       url(do-hyeon-regular.woff2) format('woff2'),
       url(do-hyeon-regular.woff) format('woff');
}
