@font-face {
  font-family: 'Acme';
  font-style: normal;
  font-weight: normal;
  src: url(acme-regular.eot);
  src: url(acme-regular.eot?#iefix) format('embedded-opentype'),
       url(acme-regular.woff2) format('woff2'),
       url(acme-regular.woff) format('woff');
}
